@use "../../src/styles/mixins";
@use "../../src/styles/colors";

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.behind{
    width: 100%;
    height: 50vh;
    background-color: colors.$primary_main;
    position: absolute;
    z-index: -100;

}