@use "../../styles/colors";

.container {
  margin: 10px;
  overflow: hidden;
}

.gridCnt {
  min-height: 6vh;
}

.numGrid {
  height: 15rem;
  font-size: 2rem;

}

.numCnt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.number {
  width: fit-content;
  outline: none;
}

//primary main darker
.lighter {
  background-color: rgba(colors.$primary_main, 60%);
  .numCnt {
    background-color: rgba(colors.$primary_main, 50%);
  }
}

.darker {
  background-color: rgba(colors.$primary_main, 30%);
  .numCnt {
    background-color: rgba(colors.$primary_main, 20%);
  }
}

.borderRad-bottom {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.borderRad-up {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
