@use "../../styles/colors";
@use "../../styles/mixins";

.container{
  @include mixins.wrapper();
  margin-top: 10vh;
}

.top{
  @include mixins.flex(row);

}

.title{
  font-size: 4rem;
}

.select {
  width: 20% !important;
  margin-left: auto;
  justify-self: flex-end;
  text-indent: 1rem;
}

.collectors-cnt {
  max-width: 100%;
  display: grid !important;
  gap: 1rem;
  grid-template-columns: repeat(4, minmax(min-content, 1fr)) !important;
}

.collector{
  justify-self: stretch !important;
  // max-width: 24%;
  // flex: 1 1 auto;
}
