@use '../../styles/colors';

.user{
    background-color: red;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2rem;

    &-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }
    
    &-name{
        font-size: 2.2rem;
        font-weight: bold;
        margin: 0;
    }
    &-info{
        margin: 0;
        font-size: 2rem;
        color: colors.$secondary_main;
    }
}


