@use "../../styles/colors";

.user{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1rem;

    &-data {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }
    
}

.user-data{
    padding: 0;
}

.name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
}

.info{
    margin: 0;
    font-size: 1rem;
    color: colors.$secondary_main;
}
