@mixin wrapper($ptb: 1%, $plf: 8%) {
  padding: $ptb $plf !important;
}

@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

@mixin flex-c($dir : row, $jc: center, $ai: center) {
  display: flex !important;
  flex-direction: $dir !important;
  justify-content: $jc !important;
  align-items: $ai !important;
}
