@use "../../styles/colors";

.card{
    padding: 1rem !important;
    max-width: 300px ;
    display: flex !important;
    flex-direction: column !important;
}

.avatar{
    margin-bottom: 1rem;
}

.info{
    display: flex;
    flex-direction: row;
}

.basic-info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.media{
    border-radius: 5%;
}

.price{
    color: colors.$secondary_main;
}

.likes{
    color: colors.$secondary_main;
    flex: 1;
    align-self: flex-end;
}