.card{
    padding: 1rem !important;
    width: 400px ;
    display: flex !important;
    flex-direction: column !important;
}

.avatar{
    margin-bottom: 1rem;
}

.info{
    display: flex;
    flex-direction: row;
}

.media{
    border-radius: 5%;
}