@use "../../styles//colors";

.product-info-title{
    background-color: transparent;
    padding: 2rem 1rem;
    border-bottom: 3px solid rgba(colors.$primary_main, 0.2);
}

.title{
    color: colors.$text_primary;
}