@use "../../styles/colors";

.product-actions{
    background-color: colors.$background_default;
}

.button{
    width: 100%;
    text-transform: uppercase;
}

.button-bid{
    // background-color: transparent !important;
    // color: colors.$secondary_main !important;
    border: 3px solid colors.$secondary_main !important;
}