@use "../../styles/colors";
@use "../../styles/mixins";

// vertical
.product-info {
    @include mixins.flex(column);
    gap: 2rem;
}

.stats {
  flex-direction: row;
  justify-content: space-between;
}

.price {
  width: 100%;
  flex: 1 !important ;
}

.live-likes-stack {
  width: 100%;
  flex: 1 !important;
  justify-content: flex-end;
  gap: 1rem;
}


.product-creator-item {
  border-radius: 15px;
  background-color: colors.$background_paper;
}