@use "../../styles/colors";
@use "../../styles/mixins";

.product-info-timer {
  @include mixins.flex(column);
  border-radius: 30px;
  overflow: hidden;
  height: 100% !important;
  color: colors.$text_black;
}

.title {
  @include mixins.flex-c;
  margin: 0;
  background-color: rgba(colors.$secondary_main, 90%);
  text-transform: uppercase;
  height: 100%;
}

.timer {
  @include mixins.flex-c() ;
}

.empty-timer{
  background-color: colors.$background_paper;
}

.completed{
  display: block;
  font-size: 3rem;
  text-align: center;
}

.span{
  display: block;
  font-size: 3rem;
  text-align: center;
  height: 100% !important;
}

.active {
  background-color: colors.$secondary_main;
}
