@use "../../styles/colors";
@use "../../styles/mixins";

.product-info-creator {
  @include mixins.flex(column);
  border-radius: 30px;
  overflow: hidden;
}

.title {
  background-color: rgba(colors.$primary_main, 0.1);
  margin: 0;
  padding: 0.6rem 0 0.3rem 1.5rem;
}

.user-container {
  padding: 0.6rem;
  background-color: colors.$background_paper;
}

.user {
  width: 50% !important;
}
