@use "../../styles/colors";

$rows : 10;

.product-tabs {
  background-color: aquamarine;
}

.tab-details {
  background-color: red;
}

.tab-bids {
  background-color: blue;
}

.even {
  background-color: rgba(colors.$primary_main, 0.15);
}

.odd {
  background-color: rgba(colors.$primary_main, 0.05);
}

.table-row-0{
  color: red;
}
.table-row-1{
  color: red;
}
.table-row-2{
  color: red;
}
.table-row-3{
  color: red;
}

// @for $i from 0 through $rows {
//   .table-row-#{$i} { color: red; }
// }
