@use "../../styles/colors";

.product-tabs {
  background-color: colors.$primary_main;
}

.tab-details {
  background-color: red;
}

.tab-bids {
  background-color: blue;
}

.even {
  background-color: rgba(colors.$primary_main, 0.15);
}

.odd {
  background-color: rgba(colors.$primary_main, 0.05);
}
