@use "../../styles/colors";
@use "../../styles/mixins";

$grid-gap: 1rem;

.container {
  @include mixins.wrapper();
}

.imageList {
  position: relative;
  gap: $grid-gap !important;
  // max-height: 700px;
 }

.image {
  max-height: 100%;
  border-radius: 15px !important;
  &:hover {
    opacity: 0.8 !important;
  }
}