@use "../../styles/colors";

.wrapper{
    background-color: colors.$background_paper !important;
    padding: 10px !important;
}

.search-input{
    background-color: colors.$background_default;
    font-size: 30px;
}


.TextField{
    width: 100%;
    border-radius: 25px;
    height: 45px;
    padding: 10px !important;
    background-color: colors.$background_default;
}

.btn-nav{
    color: colors.$text_secondary !important;
    
    &-exp{
        background-color: colors.$primary_main !important;
        color: colors.$text_primary !important;
    }
}