@use "../../styles/colors";

.explore-filters {
  display: block;
}

.search-input {
  background-color: colors.$background_paper;
  overflow: hidden;
  border-radius: 30px;
  height: 100%;
  padding-left: 1rem !important;
}
