@use '../../styles/colors';

.container{
    text-align: center;
    display: flex !important;
    flex-direction: row !important;
}

.text{
    color: colors.$text_disabled;
}
.button{
    color: colors.$text_secondary !important;
}