@use '../../styles/colors';

.container{
    background-color: colors.$background_paper !important;
    text-align: center;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.text{
    color: colors.$text_disabled;
}
.button{
    color: colors.$text_secondary !important;
}