@use '../../styles/colors';

.wrapper{
    background-color: colors.$background_paper !important;
    padding: 10px !important;
}

.container{
    
}

.text{
    color: colors.$text_disabled;
}
.button{
    color: colors.$text_secondary !important;
}