.avatar {
  position: relative;
  background-color: transparent;
}

.image {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.badge {
  width: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
}
