.avatar {
  position: relative;
  background-color: transparent;
}

.image {
  width: 90%;
  height: 90%;
  border-radius: 100%;
}

.badge {
  width: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
}
