@use '../../styles/colors';

.wrapper{
    overflow: visible;
    margin: 50px;
    padding: 2rem;
}

.container{
    margin: auto;
    background-color: colors.$primary_main;

}

.howItWorks{
    padding-right: 10rem;
}

.steps{
    

}

.stepCnt{
    margin-top: 10px !important;
}