@use "../../styles/colors";
@use "../../styles/mixins";

.container {
  @include mixins.wrapper();
  background-color: colors.$background_default;
}

.heading {
  font-size: 4rem;
}

.top {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 30vh;
}

.select {
  width: 20%;
  margin-left: auto;
  text-indent: 1rem;
}

.cards-cnt{
    max-width: 100%;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr) !important;
}

.card-grid{
    max-width: 24%;
    flex: 1;
}
