@use '../../styles/colors';

.container{
    background-color: colors.$background_default;
}

.trending{
    width: 100% !important;
    padding-top: 2rem;
    background-color:colors.$background_default ;
}

.grid-cnt{
    column-gap: 0.5rem;
}

.heading{
    font-size: 3rem;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}

